html{
	height: 100%;
}
body{
	/*background-color: #def0ff;
*/	height: 100%;
	margin: 0% 0% 0% 0%;
}
.ql-editor, .ql-toolbar{
	background-color: white;
}
.ql-toolbar{
	display: block;
	width:100%;
	/*float:left;*/
}

#drag{
	display: inline-block;
	padding: 0px;
	width: 100%;
	background-color: #c18bc1;
}

#drag:after{
	content: '\A';
    white-space: pre;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow{
	display: inline-block;
	width: 100%;
}

#create_note{
	display: inline-block;
	position: relative;
	left: 90%;
	top: 400px;
}

.del_button{
	/*position: absolute;*/
	display: inline-block;
	background-color: #f57070;
}
.min_button{
	float:right;
	background-color: #61e861;
}

#boundary-box{

	margin-top: 10%;
}

